@page "/threads"
@using MedicalHub.WebApp.Services
@inject ThreadDataService _threadDataService

<div class="container">
    <div class="row">

        <div class="d-flex justify-content-between align-content-center py-2 px-0">
            <h4 class="align-self-center">Threads</h4>

            <div class="d-inline-flex p-2">
                <MudTextField @bind-Value="SearchText" Label="Search" Variant="Variant.Outlined" class="m-2"></MudTextField>
                <MudButton Variant="Variant.Filled" Class="m-2">Common</MudButton>
                <MudButton Variant="Variant.Filled" Class="m-2">Personal</MudButton>
            </div>
        </div>
    </div>

    @foreach (var thread in _threadDataService.FetchThreads())
    {
        <div class="row">
            <MudButton Variant="Variant.Outlined" Color="Color.Transparent" FullWidth="true"
                       Style="justify-content: space-between">
                <div class="align-self-start d-flex flex-column py-2">
                    <span class="p-1 align-self-start" style="font-size:large">@thread.Name</span>
                    <span class="m-1 align-self-start" style="font-size: small">@thread.Author?.Name, @thread.Participant?.Name</span>
                </div>

                <div class="d-flex flex-column p-2">
                    <span class="p-1 align-self-end text-dark">@thread.CreatedDate.ToShortDateString()</span>
                </div>
            </MudButton>
        </div>
    }
</div>


@code {

    public string SearchText { get; set; }



}